trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  dotnetVersion: '8.0.x'
  buildConfiguration: 'Release'
  functionAppName: 'metrc-packages-webhook-poc'
  azureServiceConnection: 'az-metrc-functions-poc'
  functionProject: 'AzFuncMetrcWebhooks_App/AzFuncMetrcWebhooks_App.csproj'

steps:
- task: UseDotNet@2
  inputs:
    version: '$(dotnetVersion)'

- script: |
    dotnet --info
    ls -la
    ls -la AzFuncMetrcWebhooks_App
    dotnet restore "$(functionProject)"
    dotnet publish "$(functionProject)" --configuration $(buildConfiguration) --output "$(Build.ArtifactStagingDirectory)/publish"
  displayName: 'Build & Publish'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/publish'
    includeRootFolder: false
    archiveType: zip
    archiveFile: '$(Build.ArtifactStagingDirectory)/function.zip'
    replaceExistingArchive: true

- task: AzureFunctionApp@2
  inputs:
    connectedServiceNameARM: '$(azureServiceConnection)'
    appType: 'functionAppLinux'
    appName: '$(functionAppName)'
    package: '$(Build.ArtifactStagingDirectory)/function.zip'
